*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: linear-gradient(to right,#CBCE91FF,#EA738DFF);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.body,#history{
    background-color: #1e1e1e;
    border-radius: 8px;
}
.display{
    display: flex;
    flex-direction: column;
    width: 350px;
}
.big-display{
    width: 624px;
}
.displaybox{
    background-color: #1e1e1e;
    padding: 10px 0;
    text-align: right;
    cursor: none;
}
.display input{
    outline: none;
    border: none;
}
#history{
    color: #aaa;
    font-size: .875rem;
}
#calc{
    color: #fff;
    font-size: 1.25rem;
    margin-bottom: 2px;
    border-bottom: 1px solid #ffffff29;
}
input{
    border: none;
    outline: none;
}
.buttons{
    display: flex;
    max-width: 100%;
}
.right-btn{
    display: none;
    transition: 2s ease;
}
.right{
    margin-left: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 260px;
    max-width: 100%;
}
.left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction:column;
    width: 344px;
    margin-left: 3px;
    max-width: 100%;
}
.btn,#toggle,.btn-left,.btn-right{
    border: none;
    outline: none;
    padding: 25px;
    border-radius: 50%;
    background-color: #2a2a2a;
    font-size: 1.375rem;
    margin-bottom: 5px;
    color: #fff;
    width: 81.75px;
    cursor: pointer;
}
#toggle{
    transition: 0.8s ease;
}
.btn-toggle{
    transform: rotate(-180deg);
    transition: transform 0.8s ease;
}
